{% extends "cinema_app/base.html" %}

{% block content %}
  <img class="img-tumbnail" src="{{filme.poster_img.url}}"  alt="{{filme.nome}}" width="20%">
  <h1 class="display-4"></h1>
  <h2 class="display-4">{{filme.nome}}</h2>
    <dib class="row">
        <div class="col text-center">
        <form class='rate-form' action="" method="POST" id={{filme.id}}>
          {% csrf_token %}
          <button type="submit" class="fa fa-star my-btn" id="prim"></button>
          <button type="submit" class="fa fa-star my-btn" id="sec"></button>
          <button type="submit" class="fa fa-star my-btn" id="terc"></button>
          <button type="submit" class="fa fa-star my-btn" id="qrt"></button>
          <button type="submit" class="fa fa-star my-btn" id="qnt"></button>
        </form>
        </div>
        <br>
        <div id="confirm-box"></div>
    </dib>

    {% for exib in exibicoes %}  <a href="/filme/exibicao/{{exib.id}}/" class="btn-outline-primary mr-10">{{exib.hora}}</a>  {% endfor %} 
    

  {% for cinema in cinemas %}
    <h2>{{ cinema.nome }}</h2>

    {% for sala in salas %}
    {{sala.codigo_cinema_id}}
    {{cinema.id}}
      {% if sala.codigo_cinema_id == cinema.id %}
        <p> <h2>{{sala.id}}</h2>
        {% for exib in exibicoes %}  {% if exib.codigo_sala_id == sala.id and exib.codigo_cinema_id == cinema.id %} <a href="/filme/exibicao/{{filme.id}}/" class="btn-outline-primary mr-10">{{exib.hora}}</a> {% endif %} {% endfor %}
        </p>
      {% endif %}
    {% endfor %}

  {% endfor %}
{% endblock content %}
