{% extends "cinema_app/base.html" %}

{% block content %}

  {{filme.nome_diretor}}
    <dib class="row">
        <div class="col text-center">
        <form class='rate-form' action="" method="POST" id={{filme.id}}>
          {% csrf_token %}
          <button type="submit" class="fa fa-star my-btn" id="prim"></button>
          <button type="submit" class="fa fa-star my-btn" id="sec"></button>
          <button type="submit" class="fa fa-star my-btn" id="terc"></button>
          <button type="submit" class="fa fa-star my-btn" id="qrt"></button>
          <button type="submit" class="fa fa-star my-btn" id="qnt"></button>
        </form>
        </div>
        <br>
        <div id="confirm-box"></div>
    </dib>

  {% for cinema in cinemas %}
    <h1>{{ cinema.nome }}</h1>

    {% for sala in salas %}
    aqui: {{sala.codigo_cinema}}
    dps: {{cinema.nome}}
      {% if sala.codigo_cinema == cinema.nome %}
        <p> <h2>{{sala.id}}</h2>
        {% for exib in exibicoes %}  {% if exib.codigo_sala == sala.id and exib.codigo_cinema == cinema.id %} <h3>{{exib.hora}}</h3> {% endif %} {% endfor %}
        </p>
      {% endif %}
    {% endfor %}

  {% endfor %}
{% endblock content %}
