
{% extends "cinema_app/base.html" %}


{% block content %}
{% csrf_token %}

<h2> Artigos </h2>

<div class="container-fluid d-block mb-300">
  <div id="artigoSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#artigoSlider" data-slide-to="0" class="active"></li>
      <li data-target="#artigoSlider" data-slide-to="1" ></li>
      <li data-target="#artigoSlider" data-slide-to="2"></li>
      {% for artigo in artigo_list%}
        {% if forloop.first %}
          <li data-target="artigoSlider" data-slide-to="{{ forloop.counter }}" class="active"></li>
        {% else %}
          <li data-target="artigoSlider" data-slide-to="{{ forloop.counter }}"></li>
        {% endif %}
      {%endfor%} 
    </ol>

    <div class="carousel-inner">
    {% for artigo in artigo_list %}
      {% if forloop.first %}
        <div class="carousel-item active">
          <a href="artigos/visualizar/{{artigo.id}}" >
            <img src="{{artigo.artigo_img.url}}" class="d-block  w-100 " alt="{{artigo.titulo}}">
          </a>
          <div class="carousel-caption d-none d-md-block">
            <h5>{{artigo.titulo}}</h5>
            <p>{{artigo.author}}</p>
          </div>
        </div>
      {% else %}
        <div class="carousel-item">
          <a href="artigos/visualizar/{{artigo.id}}" >
            <img src="{{artigo.artigo_img.url}}" class="d-block  w-100 " alt="{{artigo.titulo}}">
          </a>
          <div class="carousel-caption d-none d-md-block">
            <h5>{{artigo.titulo}}</h5>
            <p>{{artigo.author}}</p>
          </div>
        </div>
      {% endif %}
    {%endfor%}
    </div>
    <div>
      <a class="carousel-control-prev" href="#artigoSlider" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#artigoSlider" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

<h2> Em Cartaz </h2>

<div id="movieSlide" class="carousel slide " data-ride="carousel">
    <div class="carousel-inner">
      <div class="row">
        {% for filme in filme_list %}
          <div class="col">
            <a href="/filme/cinemas/{{filme.id}}/" >
              <img class="img-tumbnail" src="{{filme.poster_img.url}}"  alt="{{filme.nome}}" width="100%">
            </a>
          </div>
        {% endfor %}
      </div>

    </div>
</div>




<a href="{% url 'filme_list' %}" class="btn text-secondary px-0">
    <i class="far fa-edit fa-lg"></i>Gerenciar Filmes
</a>
<a href="{% url 'sala_list' %}" class="btn text-secondary px-0">
    <i class="far fa-edit fa-lg"></i>Gerenciar Salas
</a>

<a href="{% url 'exibicao_list' %}" class="btn text-secondary px-0">
    <i class="far fa-edit fa-lg"></i>Gerenciar Exibições
</a>

<a href="{% url 'cinema_list' %}" class="btn text-secondary px-0">
  <i class="far fa-edit fa-lg"></i>Gerenciar Cinemas
</a>

<a href="{% url 'artigo_list' %}" class="btn text-secondary px-0">
  <i class="far fa-edit fa-lg"></i>Gerenciar Artigo
</a>

{% endblock content %}
